@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}

table {
    border-spacing: 0;
}

.square {
    border: thin solid black;
    width: 5rem;
    height: 5rem;
    text-align: center;
    font-size: xxx-large;
    margin: 0;
}

.valid {
    background-color: #80c846;
}

.shaded {
    background-color: lightgrey;
}

.wonX {
    background-color: lightcoral;
}

.wonO {
    background-color: lightblue;
}

.bigInfo{
    font-size: large;
}

.centered{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 1.5rem 3rem 3rem;
    margin: 10px;
}

.container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 0;
}

.verticalFlow {
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 5rem;
}

.green {
    color: #80c846;
}

#instructions{
    width: 30%;
}

#players {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 1rem;
}

a {
    color: #80c846;
}
