@import model.{ExtremeTicTacToe, Square}
@import model.GameStore
@(game: ExtremeTicTacToe)(implicit gameStore: GameStore)

@shaded(row: Int, col: Int) = {
@{
    var classText = new StringBuilder("square ")
    if(game.isSquareValid(row, col))
        classText.append(" valid")
    else if (game.isSquareClaimed(row, col))
        classText.append(" won" + game.squareClaimant(row, col))
    else if ((row / game.dim + col / game.dim) % 2 == 0) {
        classText.append(" shaded")
    }
    classText.toString
}
}

@square(square: Square, row: Int, col: Int) = {
    <td class='@shaded(row, col)' onclick="sendMove(@row, @col)">
    @square.value
    </td>
}

@row(rowArr: Array[Square], rowId: Int) = {
    <tr>
    @rowArr.zipWithIndex.map { case (s, i) =>
        @square(s, rowId, i)
    }
    </tr>
}

    <div class="bigInfo" id="players">
        <span>
        @gameStore.getPlayers(game).x
        </span>
        <span>
        @{
            val gs = gameStore.getPlayers(game)
            if(game.isNextPlayer(gs.x) && game.isNextPlayer(gs.o)){
                "Press any square to begin"
            } else if(game.isNextPlayer(gs.x))
                "It is " + gs.x.name + "'s turn"
            else
                "It is " + gs.o.name + "'s turn"
        }
        </span>
        <span>
        @gameStore.getPlayers(game).o
        </span>
    </div>

<table>
    <tbody>
    @game.fullBoard.zipWithIndex.map { case (x, i) =>
        @row(x, i)
    }
    </tbody>
</table>
